html {
    background-color: #0d1117;
    color: #ffffff;
    font-family: "Geist Mono", monospace;
    font-weight: 400;
}

p {
    margin: 0.4em 0.4rem 0 0;
}

b {
    font-weight: 700;
}

button {
    background-color: #191d23;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 5px 10px;
    margin: 0.4em 0.4em 0 0;
    cursor: pointer;
    border-style: outset;
    font: inherit;
    font-weight: 300;
    font-size: 0.9em;
    border-radius: 4px;
}

button:hover {
    background-color: #292d33;
}

button:active {
    background-color: #191d23;
    border-style: inset;
}

input {
    background-color: #191d23;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 5px 10px;
    margin: 0;
    font: inherit;
    font-weight: 300;
    font-size: 0.9em;
    border-radius: 5px;
}

input:focus {
    outline-color: #2cb474;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 5px;
}

h1::before {
    content: ">>> ";
    color: #2cb474;
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "> ";
    color: #2cb474;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #2cb474;
    margin-bottom: 0;
    margin-top: 0.6em;
}

button {
    color: #f8f8f8f8;
    background-color: #333333;
    border: 1px solid #6c6c6c;
}

img.flag-img {
    height: 0.8em;
    margin-right: 0.2em
}

ul {
    margin: 0 0 0 0;
    padding-left: 1em;
    list-style: none;
}

ul li::before {
    content: '> ';
    color: #2cb474;
    margin-right: 0.1em;
}

ul li {
    margin-bottom: 0.0em;
    margin-top: 0.1em;
}

a, q a {
    color: #7977ff;
    margin: 0 0 0 0;
    font-style: normal;
}

p.mini-header {
    color: #2cb474;
    font-size: 1.1em;
    font-weight: 700;
}

q {
    color: #ecdcb9;
    font-style: italic;
    display: block;
    padding: 0.1em 0.5em;
    margin: 0.1em 0;
    margin-bottom: 0.4em;
    border-left: 0.25em solid #393939;
    background-color: #1b1b1b;   
}

q::before {
    content: "";
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6%;
    background-color: #1b1b1b;
    color: #f8f8f8;
    font-size: 0.8em;
    text-align: center;
    align-items: center;   
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

div#final-buffer {
    margin-bottom: 10%;
}
