body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #f8f8f8;
    background-color: #252525;
}

h1::before {
    content: ">>> ";
    color: #fcc0ee;
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "> ";
    color: #fcc0ee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #fcc0ee;
    margin-bottom: 0;
    margin-top: 0.6em;
}

button {
    color: #f8f8f8f8;
    background-color: #333333;
    border: 1px solid #6c6c6c;
}

img.flag-img {
    height: 0.8em;
    margin-right: 0.2em
}

ul {
    margin: 0 0 0 0;
    padding-left: 1em;
    list-style: none;
}

ul li::before {
    content: '> ';
    color: #fcc0ee;
    margin-right: 0.1em;
}

ul li {
    margin-bottom: 0.0em;
    margin-top: 0.1em;
}

p {
    margin: 0 0 0 0;
}

a {
    color: #7977ff;
    margin: 0 0 0 0;
}

p.mini-header {
    color: #fcc0ee;
    font-size: 1.1em;
    font-weight: 700;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 6%;
    background-color: #191919;
    color: #f8f8f8;
    font-size: 0.8em;
    text-align: center;
    align-items: center;   
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
