body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #f8f8f8;
    background-color: #252525;
}

h1::before {
    content: ">>> ";
    color: #fcc0ee;
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "> ";
    color: #fcc0ee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #fcc0ee;
    margin-bottom: 0;
    margin-top: 0.6em;
}

button {
    color: #f8f8f8f8;
    background-color: #333333;
    border: 1px solid #6c6c6c;
}

img.flag-img {
    height: 0.8em;
    margin-right: 0.2em
}

p {
    margin: 0 0 0 0;
}

a {
    color: #7977ff;
    margin: 0 0 0 0;
}
